<%- include("partials/header") -%>

  <div class="" id="landingpage">
    <div class="heading animated slideInLeft">
      <a class="myName" href="/"><span class="namespan">KALYANMOY</span>BORAH</a>
      <a class="blog" href="/blog">BLOG</a>
      <a class="contact" href="#contact">CONTACT</a>
    </div>



    <div class="container">
      <div class="row">
        <div class="col-lg-2 first animated slideInDown">
          <a class="nav portfolio" href="#portfolio">PORTFOLIO</a>
          <br><a class="nav about" href="#skills">SKILLS</a>
          <br><a class="nav resume" href="#">RESUME</a>
        </div>
        <div class="col-lg-6 middle ">
          <h3 class="designer animated zoomIn">DESIGNER</h3>
          <h1 class="coder animated zoomIn">CODER</h1>
          <h2 class="developer animated zoomIn">DEVELOPER</h2>

        </div>
        <div class="col-lg-4 last">
          <p class="aboutp animated fadeIn" id="msg"></p>
        </div>
      </div>
    </div>
  </div>




  <div class="specialization" >
    <div class="spHeader" data-aos="fade-down">
      <h1 class="sph1 item" >Specialized In</h1>
      <p>Development & Design for Web</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-5 spcol col1" data-aos="fade-right">
          <img class="spimg" src="images/frontend.png" alt="">
          <br />
          <h3 class="sph3">Front-End Development</h3>
          <h6>Languages:</h6>
          <p>HTML5, CSS3, JavaScript, JQuery</p>
          <h6>Developer tools:</h6>
          <p>Github<br /> Bootstrap<br /> NPM </p>
        </div>
        <div class="col-lg-5 spcol col2" data-aos="fade-left">
          <img class="spimg" src="images/backend.png" alt="">
          <br />
          <h3 class="sph3">Back-End Development</h3>
          <h6>Skills:</h6>
          <p>Server, Database, Api</p>
          <h6>Languages & Databases:</h6>
          <p>Node.js<br /> Express.js<br /> MongoDB</p>
        </div>

      </div>
    </div>
  </div>

  <div class="portfoliodiv" id="portfolio" >

    <div class="spHeader" data-aos="fade-down">
      <h1 class="sph1">Portfolio</h1>
      <p>Check out some of my recent projects</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 portfirst" data-aos="flip-left">
          <div class="card portCard" style="width: 18rem;">
            <div class="containers">
              <img src="images/restaurant.png" class="card-img-top portimg " alt="...">
              <div class="overlay">
                <a target="_blank" class="text" href="https://evil-citadel-35456.herokuapp.com">Visit.</a>
              </div>
            </div>

            <div class="card-body">
              <h5 class="card-title">M&M's Kitchen</h5>
              <p class="card-text">Web design/development</p>
              <a target="_blank" href="https://github.com/KalyanmoyBorah/Restaurant" class="btn btn-dark">Github</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 portmiddle" data-aos="flip-left" data-aos-delay="1000">
          <div class="card book portCard" style="width: 18rem;">
            <div class="containers ">
              <img src="images/bookstore.png" class="card-img-top portimg " alt="...">
              <div class="overlay">
                <a target="_blank" class="text" href="https://morning-hollows-21928.herokuapp.com">Visit.</a>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Booknation</h5>
              <p class="card-text">Web design/development</p>
              <a target="_blank" href="https://github.com/KalyanmoyBorah/bookstore" class="btn btn-dark">Github</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 portlast" data-aos="flip-left" data-aos-delay="2000">
          <div class="card blood portCard" style="width: 18rem;">
            <div class="containers ">
              <img src="images/bloodbank.png" class="card-img-top portimg " alt="...">
              <div class="overlay">
                <a target="_blank" class="text" href="https://polar-scrubland-53266.herokuapp.com">Visit.</a>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Bloodbank</h5>
              <p class="card-text">Web design/development</p>
              <a target="_blank" href="https://github.com/KalyanmoyBorah/bloodbank" class="btn btn-dark">Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="skills" id="skills">

    <div class="spHeader" data-aos="fade-down">
      <h1 class="sph1">Skill set</h1>
      <p>Skills & skill levels</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">

          <div class="card skillcard" data-aos="zoom-out">
            <div class="card-body">
              <img class="skillimg" src="images/html5.png" alt="">
              <h5 class="card-title skilltitle">HTML5</h5>
              <h6 class="card-subtitle mb-2 text-muted skillh6">90%</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 90%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="card skillcard" data-aos="zoom-out" data-aos-delay="2000">
            <div class="card-body">
              <img class="skillimg" src="images/css-3.png" alt="">
              <h5 class="card-title skilltitle">CSS3</h5>
              <h6 class="card-subtitle mb-2 text-muted skillh6">70%</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 70%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="card skillcard" data-aos="zoom-out" data-aos-delay="1000">
            <div class="card-body">
              <img class="skillimg" src="images/bootstrap.png" alt="">
              <h5 class="card-title skilltitle">Bootstrap</h5>
              <h6 class="card-subtitle mb-2 text-muted skillh6">80%</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm">

          <div class="card skillcard" data-aos="zoom-out" data-aos-delay="1500">
            <div class="card-body">
              <img class="skillimg" src="images/javascript.png" alt="">
              <h5 class="card-title skilltitle">JavaScript/JQuery</h5>
              <h6 class="card-subtitle mb-2 text-muted skillh6">70%</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="card skillcard" data-aos="zoom-out" data-aos-delay="500">
            <div class="card-body">
              <img class="skillimg" src="images/nodejs.png" alt="">
              <h5 class="card-title skilltitle">Node.js</h5>
              <h6 class="card-subtitle mb-2 text-muted skillh6">80%</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="card skillcard" data-aos="zoom-out" data-aos-delay="2500">
            <div class="card-body">
              <img class="skillimg" src="images/database.png" alt="">
              <h5 class="card-title skilltitle">MongoDB</h5>
              <h6 class="card-subtitle mb-2 text-muted skillh6">80%</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>


  <div class="testimonials">

    <div class="spHeader" data-aos="fade-down">
      <h1 class="sph1">Testimonials</h1>
      <p>See what my clients are saying</p>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item  active">
          <div class="item1">
            <img class="user" src="images/user.jpg" alt="">
            <h1 class="client">review by <span class="clientname">Nihal Jyoti</span></h1>
            <p class="review">Kalyanmoy's website designs far exceeds my expectations on every front, and I have very high expectations. The end product is a beautiful website that embodies who you are as company. The developer is knowledgeable, creative, prompt, and personable.</p>
          </div>

        </div>
        <div class="carousel-item ">
          <div class="item2">
            <p class="sendrev">See other reviews/Post your review <a class="revhere" href="/reviews">here</a>.</p>
          </div>

        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>





  <div class="footer" id="contact" data-aos="zoom-in">

    <div class="container footercont">
      <div class="row">
        <div class="col-sm">
          <a href="#landingpage"><h5>KALYANMOY BORAH</h3></a>
        </div>
        <div class="col-sm">
          <a class="link" href="https://www.facebook.com/kalyanmoy.borah1" data-aos="zoom-out" data-aos-delay="500" ><i class="fab fa-facebook-square"></i></a>
          <a class="link" href="https://www.linkedin.com/in/kalyanmoyborah" data-aos="zoom-out" data-aos-delay="1000" ><i class="fab fa-linkedin"></i></a>
          <a class="link" href="https://github.com/KalyanmoyBorah" data-aos="zoom-out" data-aos-delay="1500"><i class="fab fa-github-square"></i></a>
          <a class="link" href="mailto:borahkalyanmoy@gmail.com" data-aos="zoom-out" data-aos-delay="2000"><i class="fas fa-envelope-square"></i></a>
        </div>
        <div class="col-sm">
          <p>copyright©2019, All rights reserved.</p>
        </div>
      </div>
    </div>

    <div class="flaticon">Icons made by <a class="icona" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a class="icona" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>


  <%- include("partials/footer") -%>
